* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

:root {
  --primary-color: #264adb;
  --primary-text: #6d7b93ff;
  --secondary-color: #1f3e72ff;
}

h1 {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 3.8rem;
}

h2 {
  color: var(--primary-color);
  font-weight: 600;
}

header {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 1.8rem 6.5rem;
  background: linear-gradient(90deg, #fff 50%, #e9f1fcff 50%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  color: var(--primary-text);
}

.nav-btn,
.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem 1.4rem;
  border-radius: 5px;
  box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
  -webkit-box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
  -moz-box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
  cursor: pointer;
}

.btn {
  padding: 0.2rem 1rem;
}

.btn-submit {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.submit-option {
  display: flex;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.main > img {
  max-width: 100%;
}

.main-text-content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #f4f6fbff;
  position: relative;
  top: 1rem;
  left: -3rem;
}

.main-text-content::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid #f4f6fbff;
  position: absolute;
  right: 50%;
  top: 20rem;
}

.main-text-content {
  padding: 3rem 6rem;
}

.main-text-content > p,
.reasons-heading > p,
.preparations-heading-text > p,
.contact-heading {
  font-weight: 500;
  color: var(--primary-text);
  padding-top: 2rem;
  padding-right: 2rem;
  line-height: 2;
  font-size: 21px;
}

.main-tags {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  color: var(--secondary-color);
  padding-top: 2.5rem;
  padding-right: 2rem;
  vertical-align: middle;
}

.main-tags > div,
.input-group > div {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: #fffae6ff;
  padding: 5px;
  margin-right: 10px;
}

.icon-blue {
  background-color: #e4eaffff;
  border-radius: 6px;
}

.schedule {
  margin-top: 2rem;
  font-size: 21px;
}

.schedule-form {
  background-color: rgba(255, 255, 255, 0.85);
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  position: absolute;
  border-radius: 5px;
  bottom: 25px;
  left: 6rem;
  width: 65vw;
  padding: 1rem;
  box-shadow: 0px 13px 30px -19px rgba(40, 72, 198, 0.75);
}

.schedule-form > .main-tags {
  color: var(--primary-text);
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-right: 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.input-group > p {
  color: var(--secondary-color);
  font-size: 21px;
  margin-left: 30px;
}

.input-group > div {
  margin-bottom: 15px;
}

.vaccines-container {
  display: flex;
  margin: 5rem 6rem;
  justify-content: space-between;
  align-items: flex-end;
}

.vaccine-logo {
  width: 180px;
  height: 65px;
  filter: grayscale(100%);
  opacity: 0.2;
}

.vaccine-logo:nth-child(even) {
  height: 40px;
}

.reasons-container {
  padding: 1rem 6rem;
}
.reasons-heading {
  position: relative;
}
.reasons-heading::before {
  content: "";
  width: 50%;
  border-top: 3px solid #f4f6fbff;
  position: absolute;
  right: 0rem;
  top: 3px;
}
.reasons-heading::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid #f4f6fbff;
  position: absolute;
  right: -6rem;
  top: -6rem;
}

.reasons-heading > h2,
.preparations-heading-text > h2,
.contact-heading > h2 {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.reasons-heading > p,
.preparations-heading-text > p {
  max-width: 50%;
  font-size: 18px;
}

.cards-section {
  justify-content: space-between;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 2rem;
}

.card {
  width: 18%;
  height: 280px;
  border-radius: 5px;
  border: 4px solid #fafaffff;
  padding: 25px;
}

.card > h4 {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 25px;
}

.card > p {
  color: var(--primary-text);
  line-height: 1.5;
  font-size: 14px;
}

.card > .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.card:hover,
.card:hover .icon {
  -webkit-box-shadow: 10px 16px 64px 15px rgba(228, 236, 250, 1);
  -moz-box-shadow: 10px 16px 64px 15px rgba(228, 236, 250, 1);
  box-shadow: 10px 16px 64px 15px rgba(228, 236, 250, 1);
}

.card:hover p {
  text-shadow: 2px 2px 40px rgba(42, 74, 120, 0.5);
}

.preparations-section,
.contact-section {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
}

.preparations-left::before {
  content: "";
  width: 90%;
  border-top: 3px solid #f4f6fbff;
  position: absolute;
  left: 0rem;
  top: 1.2rem;
}
.preparations-left::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #f4f6fbff;
  position: absolute;
  left: 0rem;
  top: -5rem;
}
.preparations-left {
  padding-right: 5rem;
  padding-top: 5rem;
  position: relative;
}

.preparations-left > img {
  width: 100%;
  background: linear-gradient(0deg, #2477dfff 70%, #fff 50%);
}
.preparations-right {
  grid-area: right;
  margin-right: 6rem;
}

.preparations-heading-text > p {
  padding: 0px;
  padding-right: 3rem;
  max-width: 100%;
}

.preparations-section {
  margin-top: 5rem;
}

.preparations-list {
  list-style: none;

  margin-top: 2rem;
}

.list-card {
  border-radius: 5px;
  border: 2px solid #fafaffff;
  font-size: 21px;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-content > p {
  color: var(--primary-text);
  line-height: 1.5;
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 15%;
  margin-right: 15%;
  text-shadow: 2px 2px 40px rgba(42, 74, 120, 0.5);
}

.list-card .icon {
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

.card-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr;
}

.card-header > .icon:last-child {
  width: 10px;
  height: 10px;
}

/* Contact section */

.contact-section {
  margin-top: 4rem;
  padding-left: 6rem;
  padding-bottom: 6rem;
}

.contact-heading > p {
  font-size: 18px;
}

.contact-right::before {
  content: "";
  width: 100%;
  border-top: 3px solid #f4f6fbff;
  position: absolute;
  right: 0rem;
  top: 3.1rem;
}
.contact-right::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 100px solid #f4f6fbff;
  position: absolute;
  right: 0rem;
  top: -3rem;
}

.contact-right {
  padding-left: 5rem;
  padding-top: 12rem;
  grid-area: right;
  position: relative;
}

.contact-left {
  grid-area: left;
}

.contact-right > img {
  width: 100%;
  background: linear-gradient(0deg, #2477dfff 70%, #fff 50%);
}

.contact-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 5rem;
}

.contact-card {
  width: 200px;
  height: 140px;
  border-radius: 10px;
  border: 4px solid #fafaffff;
  padding: 35px;
}

.contact-card h5 {
  font-size: 24px;
  color: var(--secondary-color);
}

.contact-card small {
  color: var(--primary-text);
  font-size: 18px;
}

.contact-card .icon {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin-right: 26px;
}

.contact-head {
  display: flex;
  margin-bottom: 40px;
}

.contact-btn {
  padding: 1rem;
  display: inline-block;
  width: 85%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: #f1f5ffff;
}

.contact-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
  -webkit-box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
  -moz-box-shadow: -3px 4px 28px -8px rgba(40, 72, 198, 0.75);
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Footer */
footer {
  background-color: #eef3ffff;
  display: grid;
  grid-template-areas: "footerL footerR" "terms terms";
  row-gap: 4rem;
  padding: 3rem 3rem 3rem 6rem;
  color: var(--primary-text);
  position: relative;
}

footer::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid #e2e9f9ff;
  position: absolute;
  bottom: 0;
  right: 7rem;
}

.footer-left {
  grid-area: footerL;
}
.footer-right {
  grid-area: footerR;
}
.terms {
  grid-area: terms;
}

table {
  border-spacing: 6rem 2rem;
  border-collapse: separate;
  text-align: left;
  float: right;
}

th {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
}

.footer-text {
  width: 30%;
  line-height: 2;
  margin-top: 1rem;
}

.terms {
  display: flex;
  justify-content: space-between;
  padding-right: 4rem;
}
.footer-options {
  display: flex;
}
.footer-options p {
  margin-left: 2rem;
  z-index: 2;
}

.rights {
  margin-right: auto;
}
